:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #1a3d2f;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f6f6f6;
  }
  a:hover {
    color: #747bff;
  }
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.light-mode {
  background-color: #f6f6f6;
  color: #000000;
}

.toggle-btn-mode {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 8px;
  top: 20px;
  right: 20px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.dark-mode .toggle-btn-mode {
  color: #ffffff;
}
.light-mode .toggle-btn-mode {
  color: #000000;
}

/* Ensure video-page class toggles background color */
.video-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode .video-page {
  background-color: #121212;
  color: #ffffff;
}

.light-mode .video-page {
  background-color: #f6f6f6;
  color: #000000;
}

/* Ensure video-container class toggles background color */
.video-container {
  max-width: 800px;
  width: 100%;
  background-color: #ffffff; /* Inherit background color from parent */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.dark-mode .video-container {
  background-color: #1e1e1e;
  color: #ffffff;
}

.light-mode .video-container {
  background-color: #ffffff;
  color: #000000;
}

.video-item {
  cursor: pointer;
  color: #1e90ff;
  text-decoration: underline;
  margin: 10px 0;
}

.light-mode .video-item {
  color: #0075e8;
}

.video-item:hover {
  color: #005bb5;
}
